
body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
}

h1 {
    color: white;
    font-size: 5rem;
    font-family: "Space Mono", monospace;
}